.servicos {
  padding: 100px 20px;
  text-align: center;
  background-color: #000;
  color: #fff;
  margin-top: -40px;
}

.servicos h2 {
  text-shadow: 2px 2px 4px #7e7e7e;
}
.servicos h3 {
  animation: slideDown 3s ease-out forwards;
  opacity: 0;
  transform: translateY(-20px);
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  margin-top: 30px;
  padding: 0 20px;
}

/* Estado inicial dos cards: invisíveis e deslocados */
.card {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 0.8s ease;
}

/* Classe aplicada pelo Intersection Observer */
.card.visible {
  opacity: 1;
  transform: translateY(0);
}

.card img {
  width: 80%;
  height: auto;
  object-fit: cover;
  object-position: center;
  transition: transform 0.5s ease;
}

.card:hover img {
  transform: scale(1.05);
}

.card h3 {
  margin: 15px;
  font-size: 1.8rem;
  color: yellow;
  text-transform: uppercase;
}

.card p {
  margin: 15px;
  font-size: 1rem;
  color: #ccc;
  line-height: 1.5;
}

.imageWrapper {
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

/* Animação para títulos */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
